<div *ngIf="weatherData" class="weather-forecast">
  <div class="row-display">
    <h1>{{ weatherData ? weatherData.city!.name : 'Unknown City' }}</h1>
    <app-button [buttonName]= "'⟳'" [buttonType]="ButtonTypeEnum.OutlineSecondary" (emitButtonClickEvent)="refreshWeatherForcast()" [buttonSize]="'sm'"></app-button>
  </div>

  <div class="current-weather">
    <div class="icon">
      <img [src]="getWeatherIconUrl(weatherData ? weatherData.list[0]!.weather[0]!.icon : 'default-icon.png')" alt="Weather Icon" />
    </div>
    <div class="details">
      <p>{{ convertToCelsius(weatherData ? weatherData.list[0]!.main!.temp : 0) }}°C</p>
      <p>{{ weatherData ? weatherData.list[0]!.weather[0]!.description : 'No description available' }}</p>
      <p>Wind: {{ weatherData ? weatherData.list[0]!.wind!.speed : 0 }} m/s, {{ weatherData? weatherData.list[0]!.wind!.deg : 0 }}°</p>
      <p>Pressure: {{ weatherData ? weatherData.list[0]!.main!.pressure : 0 }} hPa</p>
    </div>
  </div>

  <div class="forecast">
    <div class="day" *ngFor="let item of getDailyForecast()">
      <p>{{ item?.date || 'No date available' }}</p>
      <img [src]="getWeatherIconUrl(item.icon ? item.icon : 'default-icon.png')" alt="Weather Icon" />
      <p>{{ convertToCelsius(item?.temp || 0) }}°C</p>
    </div>
  </div>
</div>

<div *ngIf="!weatherData" class="w-100 h-100">
  <h1> Add City's / Countries and Select it </h1>
  <h4>London, Vijayawada, Tirupati, Hyderabad.....</h4>
</div>